.slider {
    text-align: center;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 510px;
    margin: 2em auto 0;
}

#big_img {
    width: 500px;
    height: 500px;
    transition: all 0.5s ease;
}

.btn-slider {
    background-color: black;
    border-style: none;
    color: #f5c518;
    font-weight:bolder;
    font-size: x-large;
}

.slider button:hover {
    cursor:pointer;
}

#btn-abrir {
    color: white;
    background-color: #f5c518;
    line-height: 100%;
    opacity: 0;
    width: 500px;
    transition: all 0.5s ease;
    top: 43%;
    position: absolute;
    margin: 0 auto;
    border: none;
    cursor: pointer;
}

.slider img:hover {
    opacity: 0.4;
}

#big_img:hover ~ #btn-abrir {
    opacity: 0.8;
    line-height: 2em;
}

#btn-abrir:hover {
    opacity: 0.8;
    line-height: 2em;
}

@media screen and (max-width: 768px) {

    .slider {
        width: 100%;
    }

    #big_img {
        width: 350px;
        height: 350px;
      }
}

@media screen and (max-width: 480px) {

    #big_img {
        width: 280px;
        height: 280px;
    }

    .slider {
        padding: 0;
        margin: 0;
    }
}
