@import url(https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;600;800&display=swap);

body {
  background-color: black;
  font-family: 'Bitter', serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.holder {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1330px) {

  header {
    height: 8em;
  }
  nav {
    flex-direction: column;
    padding: 0;
  }

  .title {
    width: 100%;
    text-align: center;
  }

  .menu {
    justify-content: space-between;
    width: 100%;
  }
}


@media screen and (max-width: 1200px) {

  .holder {
    width: 100%;
  }
  
  footer {
    width: 100%;
  }  
}

@media screen and (max-width: 1024px) {

  body {
    width: 100vw;
  }



}


@media screen and (max-width: 768px) {

  nav {
    width: 100%;
    padding: 0 .7em 0 0.6em;
    box-sizing: border-box;
  }

  nav ul {
    width: 100%;
    position: absolute;
    left: -100%;
    height: calc(100vh - 6em);
    top: 6em;
    flex-direction: column;
    padding: 0;
  }

  nav ul li {
    margin: 0 0 2.3em 0;
    font-size: 1.5em;
    line-height: 1.2em;
  }

  .teatro {
    flex-direction: column;
  }

  .teatro img {
    margin: 3em auto;
  }

  .filtros {
    flex-wrap: wrap;
    margin-bottom: 1em;
    justify-content: center;
  }

  header {
    height: 6em;
    flex-wrap: wrap;
  }

  .title {
    width: 90%;
  }
  
}


@media screen and (max-width: 480px) {

  .contacto {
    width: 90%;
  }

  .title {
    width: 80%;
    margin: 0 auto;
  }

  header {
    height: 8em;  
  }

  header .title {
    margin-top: 1em;
  }

  header h1 {
    padding: 1em 0;
    margin: 0;
  }

  nav ul {
      top: 8em;
      height: calc(100vh - 8em);
  }


}


