.search-container {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: solid 3px #f5c518;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2em;
}

input:focus {
    outline: none;
    border: none;
}

.search-container input {
    border: none;
    line-height: 1.5em;
    background-color: #1a1a1a;
    color: white;
    font-weight: 800;
    width: 100%;
}

.search-icon {
    color: white;
    margin: 0 1em 0 2em;
}

.search-container select {
    background-color: #1a1a1a;
    border: none;
    color: white;
    font-weight: 800;
    margin-right: 1em;
}

.search-container select:focus {
    outline: none;
    border: none;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    box-sizing: border-box;
}

.card {
    margin-right: 0.5em;
    
}

@media screen and (max-width: 1200px) {
       
    .cards {
        width: 90%;
        margin: 0 auto;
        justify-content: center;
    }
}


@media screen and (max-width: 768px) {
       
    .search-container {
        width: 75%;
    }
}


@media screen and (max-width: 480px) {
       
    .search-container {
        width: 90%;
    }
}

